.exp {
    background-color: rgba(17,51,68,0.4);
    box-shadow: 9px -9px 0px 0px rgba(179, 163, 105, 0.5);
    text-align: left;
    display: inline-flex;
    justify-content: space-around;
    list-style: none;
    flex-direction: column;
    font-size: calc(3px + 2vmin);
    color: #F9F6F5;
    top: 0%;
    z-index: 1;
    border: 1px solid #FFFFF8;
    border-radius: 5px;
    padding: 1%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}

.exp:hover {
    background-color: rgba(17,51,68,0.4);
    box-shadow: 9px -9px 2px 0px rgba(179, 163, 105, 1);
    text-align: left;
    display: inline-flex;
    justify-content: space-around;
    list-style: none;
    flex-direction: column;
    font-size: calc(3px + 2vmin);
    color: #F9F6F5;
    top: 0%;
    z-index: 1;
    border: 1px solid #FFFFF8;
    border-radius: 5px;
    padding: 1%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}

.title-job {
    margin: 2px;
}

.date {
    margin: 2px;
}

.job-header {
    background-color: rgba(17, 51, 68, 0.7);
    padding: 1%;
    border: 1px solid rgba(255,255,248,0.5);
    border-radius: 5px;
}