.App {
  text-align: center;
  align-items: "center";
  background-color: #002233;
}

.content {
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25%;
  padding-bottom: 25%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #da2b2b;
}



button {
  padding: 10px 20px;
  font-size: 1.2vw;
  cursor: pointer;
  background-color: #fffff8;
  color: #282c34;
  border: none;
  border-radius: 5px;
  align-items: "center";
  margin: 10px;
}

main {
  align-items: "center";

  /*padding-left:10px;
  padding-right:10px;*/
}

body {
  background-color: #002233;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right:0;
  padding-top: 0;
  padding-bottom: calc(3px + 2vmin);
  padding-right: 20vh;
  padding-left: 20vh;
  align-items: center;
  z-index: 9999;
  background-color: rgba(0,0,0,0);
  margin-top: 0;
}

h4 {
  margin-top: 5px;
}

h1 {
  margin-bottom: 3%;
}
/*
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #F9F6E1;
}

body::-webkit-scrollbar-thumb {
  background: #002233;
  border: 1px solid #B3A369;
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #B3A369;
  border: 1px solid #002233;
  border-radius: 3px;
}*/
